--- 
layout: page 
title: Home
---


<!-- banner -->
<section id="banner">
    <div class="contarnei">
        <!-- img -->
        <div class="banner__img">
            <img src="./img/banner3.png" alt="Computer">
        </div>
        <div class="banner__heading">
            <h3>{{site.title}}</h3>
            <p>{{site.description}}</p>
            <a href="#about"><button class="banner__btn">View More</button></a>
            <div class="banner__socials">
                <a href="https://github.com/nvtien12/nvtien12.github.io"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/nguyenvantien727/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/vtmbmt1125"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </div>
</section>



<div id="about">{% include about.html %}</div>
<div id="education">{% include education.html %}</div>
<div id="news">{% include news.html %}</div>
<div id="works">{% include works.html %}</div>
<div id="wwcontact">{% include wwcontact.html %}</div>






