



<section id="education">
    <div class="container">
        <h2>Education</h2>
        <figure>
            <div class="education__item">
                <div class="education__item">
                    <img src="./img/education.jpg" alt="education" />
                </div>
                <!-- text -->
                <div class="education__item--heading">

                    <h4> ĐẠI HỌC CÔNG NGHIỆP THÀNH PHỐ HỒ CHÍ MINH</h4>
                    <br/>
                    <p>09/2011-06/2015</p>
                    <br>
                    <p>Kỹ sư công nghệ kỹ thuật điện tử truyền thông</p>

                </div>
            </div>
        </figure>
    </div>
</section>