<!-- overlay -->
<section id="overlay"></section>
<!-- <header> -->
<header>
    <div class="contarnei">
        <nav class="navbar">
            <!-- logo -->
            <div class="navbar__logo">
                <img src="./img/logo.png" alt="website logo" />

            </div>
            <!-- link -->
            <ul class="navbar__links">
                <li class="navbar__link"><a href="#index">Home</a></li>
                <li class="navbar__link"><a href="#about">About Me</a></li>
                <li class="navbar__link"><a href="#education">Education</a></li>
                <li class="navbar__link"><a href="#works">Works</a></li>
                <li class="navbar__link"><a href="#new">New</a></li>
                <a href="#wwcontact"><button class="navbar__btn">Contact</button></a>
            </ul>
            <!-- menu button -->
            <div class="navbar__icons">
                <div class="navbar__icon"></div>

            </div>

        </nav>
    </div>
</header>
