<!-- overlay -->
<section id="overlay"></section>
<!-- <header> -->
<header>
    <div class="contarnei">
        <nav class="navbar">
            <!-- logo -->
            <div class="navbar__logo">
                <img src="./img/logo.png" alt="website logo" />

            </div>
            <!-- link -->
            <ul class="navbar__links">
                <li class="navbar__link"><a href="index.html">Home</a></li>
                <li class="navbar__link"><a href="about.html">About Me</a></li>
                <li class="navbar__link"><a href="education.html">Education</a></li>
                <li class="navbar__link"><a href="works.html">Works</a></li>
                <li class="navbar__link"><a href="new.html">New</a></li>
                <a href="wwcontact.html"><button class="navbar__btn">Contact</button></a>
            </ul>
            <!-- menu button -->
            <div class="navbar__icons">
                <div class="navbar__icon"></div>

            </div>

        </nav>
    </div>
</header>