

<section id="works">
    <div class="contarnei">
        <!-- heading -->
        <h2>WORKS</h2>
        <div class="works__item">
            <!-- img -->
            <img src="./img/it 1.jpg" alt="it" />
            <!-- text -->
            <div class="works__item--heading">

                <h4> CÔNG TY CỔ PHẦN HỆ THỐNG CÔNG NGHỆ HOÀNG HẢI</h4>
                <br/>
                <p>2017 - 08/2018</p>
                <br>
                <p> Thi công dự án</p>
                <br>
                <p>Xử lí xự cố hệ thống công ty đối tác </p>
            </div>
        </div>
        <div class="works__item">

            <!-- img -->
            <img src="./img/it 2.jpg" alt="it helpdesk" />
            <!-- text -->
            <div class="works__item--heading">

                <h4>CÔNG TY TNHH TM TÂN LOAN </h4>
                <br/>
                <p>09/2018 - 03/2022</p>
                <br>
                <p>Quản lí fanpage và website công ty</p>
                <br>
                <p>Khắc phục sự cố thiết bị người dùng,quản lí hệ thông server, camera, router, switch, hệ thống mạng, liên lạc đối tác xư lí các sự cố gặp phải</p>
            </div>

        </div>
    </div>

</section>